@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/utilities' as *;

.parent-container {
    padding: 1rem;
    background-color: $Light-grey;
    display: flex;
    justify-content: center;
    @include tablet {
        padding: 1rem 2rem;
    }
    @include desktop {
        padding: 1rem 8.125rem;
    }
}
.form {
    &__container {
       background-color: $white; 
       border-radius: 3px;
       box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
       width: 100%;
       margin-top: -5rem;
       @include tablet {
            margin-top: -7.25rem;
       }
    }
    &__header-container {
        padding: 2rem 1rem;
        display: flex;
        align-items: baseline;
        @include tablet {
            border-bottom: 1px solid $Cloud;
            padding: 2rem;
        }
    }

    &__header {
        font-size: 1.75rem;
        line-height: 2.25rem;
        padding-left: 0.5rem;

    }
    &__section-container {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
    &__section {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $Cloud;
        padding: 1rem 1.5rem;
        @include tablet {
            width: 50%;
            border-top: none;
            margin: 1rem 0;
            padding: 0 2rem;
        }
        &--divider {
            @include tablet {
                border-left: 1px solid $Cloud;
            }
        }
    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 2rem;
    }
    &__label {
        font-size: .8125rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
    &__input {
        width: 100%;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: 1px solid $Cloud;
        margin-bottom: 1rem;

        &::placeholder {
            color: $Instock-Black;
            font-size: .8125rem;
        }
    }
    &__save-button {
        background-color: $Instock-Indigo;
        width: 48%;
        color: $white;
        border: 1px solid $Cloud;
        border-radius: 20px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        @include tablet {
            width:auto;
            padding: 0.5rem 1rem;
        }
    }
    &__cancel-button {
        background-color: $white;
        width: 48%;
        color: $Slate;
        border: 1px solid $Cloud;
        border-radius: 20px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        @include tablet {
            width:auto;
            padding: 0.5rem 1rem;
            order: 1;
            margin-right: 1rem;
        }
    }
}
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: $Light-grey;
    border-radius: 0px 0px 3px 3px;
    @include tablet {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}