@use "../../styles/global.scss" as *;
@use "../../styles/partials/utilities" as *;

// .header {
//   background: $Graphite;
//   width: 100%;
//   height: 200px;
//   padding: 0.5rem 1rem 1rem 1rem;
//   //   left: 0px;
//   //   top: 0px;

//   &__Logo-cont {
//     display: flex;
//     justify-content: center;
//     padding-top: 1rem;
//   }

//   &__buttons {
//     margin-top: 2rem;
//     display: flex;
//     justify-content: space-evenly;
//   }

//   &__warehouse-btn,
//   &__inventory-btn {
//     font-family: "Titillium Web";
//     font-weight: 600;
//     width: 164px;
//     border-radius: 20px;
//     padding: 0.5rem 0;
//     border: none;
//     color: $white;
//   }

//   &__warehouse-btn {
//     background: $Instock-Black;
//   }

//   &__inventory-btn {
//     color: $Cloud;
//     background: $Graphite;
//   }
// }

.warehouse-details {
  //   display: flex;
  margin-top: -90px;
  padding: 2rem;
  margin: 0 1.5rem;
  z-index: 1;
  background: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__back-btn {
    display: flex;
    align-items: center;
  }

  &__loc {
    padding-left: 0.5rem;
  }

  &__loc-header {
    font-size: 28px;
  }

  &__edit-btn-cont {
    display: flex;
    align-items: center;
  }

  &__edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $Instock-Indigo;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &__edit-btn-img {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(192deg)
      brightness(102%) contrast(104%);
  }

  &__address-cont {
    padding: 1rem 1.75rem 1.5rem 1.5rem;
  }

  &__contact-cont {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__item-invent-cont {
    width: 50%;
  }

  &__address-title,
  &__contact-title,
  &__contact-info-title,
  &__invent-title,
  &__category,
  &__status,
  &__QTY-title {
    font-size: 11px;
    color: $Slate;
    padding-bottom: 0.25rem;
  }

  &__QTY-title {
    margin-top: 30px;
  }

  &__invent-title {
    padding: 0;
  }

  &__status-title {
    margin-bottom: 4px;
  }

  &__name-cont,
  &__info-cont {
    width: 50%;
  }

  &__address-loc,
  &__contact-name,
  &__contact-info {
    font-size: 13px;
    color: $Instock-Black;
  }

  &__arr-cont {
    margin-bottom: -7px;
  }

  &__category-title {
    margin-bottom: 4px;
    margin-top: 30px;
  }

  &__invent-type {
    color: $Instock-Indigo;
    font-size: 13px;
    font-weight: 600;
  }

  &__item-cont {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  &__prod-categ {
    color: $Instock-Black;
    font-size: 13px;
  }

  &__item-right-cont {
    width: 50%;
  }

  &__instock {
    background: rgba(21, 132, 99, 0.07);
    color: $Green;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
  }

  &__QTY-num {
    font-size: 13px;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  &__edit-icon {
    // background: #2e66e6;
    filter: invert(31%) sepia(46%) saturate(5414%) hue-rotate(217deg)
      brightness(96%) contrast(87%);
  }
}

.hr__divider {
  background: $Cloud;
  height: 1.25px;
}
