@use '../../styles/partials/utilities';
@use '../../styles/partials/typography';
@use '../../styles/partials/mixins' as *;
@use '../../styles/global.scss';


.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: utilities.$white;
    z-index: 100;
    padding: 1rem;
        @include tablet{
        padding: 0rem 4rem;
        position:fixed;
        top: 50%;
        left: 50vw;
        width: 90%;
        height: 15rem;
        transform: translate(-50%,-50%);
        background-color: utilities.$white;
        z-index:1000; 
        }
        @include desktop {
            width: 65%;
        }
    &__overlay-style {
        @include tablet {
        background-color: rgba(0,0,0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    }
    &__title {
        font-size: 28px; 
        font-weight: 600;
        color: utilities.$Instock-Black;
        margin-top: 4rem;
        @include tablet {
        font-size: 32px; 
        margin-top: 2rem;
    }
    }
    &__description {
        font-size: 15px; 
        font-weight: 400;
        color: utilities.$Instock-Black;
        margin-top: 1rem;
        @include tablet {
        font-size: 16px; 
        line-height: 28px;
        margin-bottom: 1rem;
        }
    }
    &__button {
        display: flex;
        justify-content: space-around;
        @include tablet {
            justify-content: flex-end;
            padding-bottom: 2rem;
        }
        &-cancel {
            cursor: pointer;
            color:utilities.$Cloud;
            border: 1px solid utilities.$Cloud;
            background-color: utilities.$white;
            border-radius: 20px; 
            padding: 0.5rem;
            width: 35vw;
            &:hover {
                border: 1px solid utilities.$Instock-Indigo;
                color: utilities.$Instock-Indigo;
            }
            @include tablet {
            width: auto; 
            }
        }
        &-delete {
            cursor: pointer;
            color:utilities.$white;
            background-color: utilities.$Red;
            border-radius: 20px; 
            padding: 0.5rem;
            width: 35vw;
            border: none;
            &:hover {
                background-color: utilities.$Graphite;
            }
            @include tablet {
                width: auto; 
                margin-left: 1rem;
                }
        }

    }
    
}
