@use "../styles/global.scss" as *;
@use "../styles/partials/utilities" as *;
.header {
  background: $Graphite;
  width: 100%;
  height: 200px;
  padding: 0.5rem 1rem 1rem 1rem;
  //   left: 0px;
  //   top: 0px;

  &__Logo-cont {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }

  &__warehouse-btn,
  &__inventory-btn {
    font-family: "Titillium Web";
    font-weight: 600;
    width: 164px;
    border-radius: 20px;
    padding: 0.5rem 0;
    border: none;
    color: $white;
  }

  &__warehouse-btn {
    background: $Instock-Black;
  }

  &__inventory-btn {
    color: $Cloud;
    background: $Graphite;
  }
}

.warehouse-details {
  //   display: flex;
  padding: 2rem 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__back-btn {
    display: flex;
    align-items: center;
  }

  &__loc {
    padding-left: 0.5rem;
  }

  &__loc-header {
    font-size: 28px;
  }

  &__edit-btn-cont {
    display: flex;
    align-items: center;
  }

  &__edit-btn {
    display: flex;

    align-items: center;
    justify-content: center;
    background: $Instock-Indigo;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  &__address-cont {
    padding: 1rem 1.75rem 1.5rem 1.5rem;
  }

  &__contact-cont {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__address-title,
  &__contact-title,
  &__contact-info-title {
    font-size: 11px;
    color: $Slate;
    padding-bottom: 0.25rem;
  }

  &__address-loc,
  &__contact-name,
  &__contact-info {
    font-size: 13px;
    color: $Instock-Black;
  }
}

.hr__divider {
  background: $Cloud;
  height: 1.25px;
}
