@use "../../styles/global.scss" as *;
@use "../../styles/partials/utilities" as *;
@use "../../styles/partials/mixins" as *;

.outer-background {
  background: $Light-grey;
  display: flex;
  padding-bottom: 22%;
  //   height: 69vh;
}

.box-shadow {
  width: 100%;
  margin-top: -4.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px #13182c1a;

  @include tablet {
    margin-top: -6.3rem;
  }

  @include desktop {
    margin-right: 8rem;
    margin-left: 8rem;
  }
}

.inventory-details {
  background: #fff;
  display: flex;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  justify-content: space-between;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__back-btn {
    display: flex;
    align-items: center;
  }

  &__loc {
    padding-left: 0.5rem;
  }

  &__loc-header {
    font-size: 1.75rem;
  }

  &__edit-btn-cont {
    display: flex;
    align-items: center;
  }

  &__edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $Instock-Indigo;
    border-radius: 50%;
    width: 1.87rem;
    height: 1.87rem;
  }

  &__edit-btn-img {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(192deg)
      brightness(102%) contrast(104%);
  }

  &__edit-btn-tab {
    display: none;
  }

  //   INVENTORY ITEM STYLES

  &__desc-cont {
    padding: 1rem 1.75rem 1.5rem 1.5rem;
    background: #fff;
  }

  &__top-flex {
    display: flex;
    flex-direction: column;
  }

  &__bottom-flex {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
  }

  &__desc-title,
  &__category-title,
  &__status,
  &__qty,
  &__warehouse-title {
    font-size: 0.68rem;
    color: $Slate;
    padding-bottom: 0.25rem;
    font-weight: 600;
  }

  &__category-cont,
  &__stat-qty,
  &__warehouse {
    margin-top: 1rem;
  }

  &__QTY {
    margin-top: 1.875rem;
  }

  &__desc-desc,
  &__category-name,
  &__warehouse,
  &__QTY-num {
    font-size: 0.8125rem;
    color: $Instock-Black;
  }

  &__bottom-flex {
    margin-left: 0;
  }

  &__stat-qty {
    display: flex;
  }
  &__stat,
  &__qty {
    width: 50%;
  }

  &__instock {
    background: rgba(21, 132, 99, 0.07);
    color: $Green;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    font-size: 0.81rem;

    &--notinstock {
      background: rgba(201, 69, 21, 0.07);
      color: $Red;
      font-weight: 600;
      padding: 0.25rem 0.5rem;
      border-radius: 20px;
      font-size: 0.81rem;
    }
  }

  &__QTY-num {
    font-size: 0.8125rem;
  }

  &__edit-icon {
    // background: #2e66e6;
    filter: invert(31%) sepia(46%) saturate(5414%) hue-rotate(217deg)
      brightness(96%) contrast(87%);
  }

  //  ************* TABLET **********

  @include tablet {
    &__edit-btn {
      display: flex;
      justify-content: space-evenly;
      width: 5rem;
      height: 2.37rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      border-radius: 20px;
    }
    &__edit-btn-tab {
      display: inline-block;
      color: #fff;
    }

    &__desc-cont {
      display: flex;
      padding-right: 2rem;
      padding-left: 2rem;
    }
    &__desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      width: 100%;
      margin-top: 1rem;
    }

    &__desc-title,
    &__category-title,
    &__status,
    &__qty,
    &__warehouse-title {
      font-size: 0.75rem;
    }

    &__desc-desc,
    &__category-name,
    &__warehouse,
    &__QTY-num {
      font-size: 0.875rem;
      color: $Instock-Black;
    }

    &__top-flex {
      border-right: 2px solid $Cloud;
      padding-right: 2.5rem;
    }

    &__category-cont {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0;
      width: 60%;
      margin-top: 2rem;
    }

    &__bottom-flex {
      margin-left: 2.5rem;
      width: 50%;
    }

    &__warehouse {
      margin-top: 2rem;
    }

    // TABLET INVENTORY ITEMS
    &__status,
    &__QTY {
      width: 43%;
    }

    &__stat-qty {
      display: flex;
    }

    &__instock {
      margin-left: -0.31rem;
      &--notinstock {
        margin-left: -0.31rem;
      }
    }

    &__QTY {
      margin: 0;
    }
  }
}

.hr-divider {
  background: $Cloud;
  height: 1.25px;
}
