@use "../../styles/partials/utilities" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.add-container {
    padding: 1rem;
    background-color: $Light-grey;
    display: flex;
    justify-content: center;

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        padding: 1rem 8.125rem;
    }
}

.add-inventory {
    background-color: $white; 
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    width: 100%;
    margin-top: -5rem;

    @include tablet {
         margin-top: -7.25rem;
    }
}

.add-header {
    display: flex;
    padding: 1.5rem 1rem;
    border-bottom: 2px solid $Cloud;

    @include tablet {
        padding: 1.5rem 2rem 1rem;
    }

    @include desktop {
        padding-left: 2.5rem;
    }

    &__back {
        margin-right: 0.5rem;
        align-self: flex-start;
        padding-top: 0.4rem;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.add-form {
    &__label {
        display: block;
        margin-top: 1rem;
        font-size: 0.8rem;
        font-weight: 600;

        @include tablet {
            margin-top: 1.4rem;
        }
    }

    &__input {
        font-family: 'Titillium Web', sans-serif;
        display: block;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        width: 100%;

        &--textarea {
            resize: none;
            height: 7rem;
            padding-top: 0.5rem;
        }

        &--select {
            padding: 0;
            padding-left: 1rem;
            appearance: none;
            background: url('../../assets/Icons/arrow_drop_down-24px.svg') no-repeat 98%;

            &:invalid {
                color: $Slate
            }
        }

        &--quantity {
            @include desktop {
                width: 30%;
            }
        }
    }

    &__radios {
        display: flex;
        margin-top: 0.4rem;
    }

    &__radio-container {
        flex-basis: 50%;

        @include desktop {
            flex-basis: 25%;
        }
    }

    &__radio-label {
        margin: 0;
        font-weight: 400;
        color: $Slate;
    }

    &__radio {
        margin-right: 0.5rem;
        color: $Slate;

        &:checked ~ label {
            color: $Instock-Black;
        }
    }

    &__subforms {
        @include tablet {
            display: flex;
        }
    }

    &__subform {
        padding: 1rem 1rem 1.5rem;

        &:first-of-type {
            border-bottom: 2px solid $Cloud;
        }

        @include tablet {
            flex-basis: 50%;
            padding: 0 2rem;
            margin: 1.5rem 0 1.8rem;

            &:first-of-type {
                border-right: 2px solid $Cloud;
                border-bottom: none;
            }
        }

        @include desktop {
            padding: 0 2.5rem;
        }
    }

    &__buttons {
        display: flex;
        background-color: $Light-grey;
        padding: 1rem;

        @include tablet {
            justify-content: flex-end;
            padding: 1rem 2rem;
        }
    }

    &__button {
        flex-basis: 50%;

        &--cancel {
            background-color: $white;
            color: $Slate;
            border: 1px solid $Cloud;
            margin-right: 1rem;

            &:hover {
                color: $Instock-Indigo;
                border: 1px solid $Instock-Indigo;
            }

            @include tablet {
                flex-basis: 12%;
            }

            @include desktop {
                flex-basis: 8%;
            }
        }

        &--add {
            background-color: $Instock-Indigo;
            color: $white;
            border: none;
            
            &:hover {
                background-color: $Graphite;
            }

            @include tablet {
                flex-basis: 16%;
            }

            @include desktop {
                flex-basis: 11%;
            }
        }
    }
}