@use '../../styles/global.scss';
@use '../../styles/partials/typography';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/utilities';

.addnewwarehouse {
    display: flex;
    flex-direction: column;
    border:2px solid rgba(19, 24, 44, 0.1);
    border-radius: .1875rem;
    margin: -5rem 2rem;
    background-color: utilities.$white;
    &__direct {
        display: flex;
        text-decoration: none;
        justify-content: center;
    }
    &__title {
        color: utilities.$Instock-Black;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        margin: 1rem;
    }
    &__form {
        margin: 1rem;
    }
    &__section {
        border-top: 1px solid utilities.$Cloud;
    }
    &__warehousedetails{
        display: flex;
        flex-direction: column;
    }
    &__contactdetails{
        display: flex;
        flex-direction: column;
    }
    &__box {
        border-radius: 20px;
    }
}